.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#timeAxis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.touch-bar {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}
