.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#timeAxis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.touch-bar-group line {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

.legend-background {
    fill: rgba(255, 255, 255, 0.75);
    stroke: black;
    stroke-width: 1px;
}
